/* 모바일 */
@media (max-width: 767px) {
  #header {
    width: 100vw;
    min-width: 400px;
    height: 8vh;
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  
    padding: 10px 30px;
  
    background-color: black;
  
    z-index: 9999;
  
    transition: all 0.3s ease-in-out;
  }

  #body {
    width: 100vw;
    min-height: calc(100vh);
    background-color: black;
  
    padding-top: 60px;
  }
  
  #footer {
    width: 100vw;
    height: 355px;
    background-color: #2D2D2D;
  
    padding-inline: calc(50vw - 580px);
  }
  
  #header[active="true"] {
    background-color: transparent;
    backdrop-filter: blur(20px);
  }
}

/* 데스크탑 */
@media (min-width: 768px) and (max-width: 1023px) {
  #header {
    width: 100vw;
    height: 110px;
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  
    padding: 20px 155px 20px 140px;
  
    background-color: black;
  
    z-index: 9999;
  
    transition: all 0.3s ease-in-out;
  }

  #body {
    width: 100vw;
    min-height: calc(100vh);
    background-color: black;
  
    padding-top: 110px;
  }
  
  #footer {
    width: 100vw;
    height: 355px;
    background-color: #2D2D2D;
  
    padding-inline: calc(50vw - 580px);
  }
  
  #header[active="true"] {
    background-color: transparent;
    backdrop-filter: blur(20px);
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  #header {
    width: 100vw;
    height: 110px;
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  
    padding: 20px 155px 20px 140px;
  
    background-color: black;
  
    z-index: 9999;
  
    transition: all 0.3s ease-in-out;
  }

  #body {
    width: 100vw;
    min-height: calc(100vh);
    background-color: black;
  
    padding-top: 110px;
  }
  
  #footer {
    width: 100vw;
    height: 355px;
    background-color: #2D2D2D;
  
    padding-inline: calc(50vw - 580px);
  }
  
  #header[active="true"] {
    background-color: transparent;
    backdrop-filter: blur(20px);
  }
}
